
<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoBD</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, dicta fugiat minima atque quod molestias.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nostrum tempore exercitationem! Rerum tenetur sint, eaque omnis eligendi quos culpa.</p>
    <a href="" class="btn btn-primary">Diego Oviedo</a>

</div>